h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: red;
}

canvas {
    animation-name: abcd;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes abcd {
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px yellow;}
}